@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: url(/images/background.png);
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 240px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 100%;
    background: #000968;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content p {
    font-size: 40px;
}
.container {
    background-color: #fff;
    width: 85vw;
    max-width: 34em;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, 40%);
    padding: 3em;
    border-radius: 0.5em;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}
label {
    font-size: 16px;
    font-weight: 6  00;
}
input {
    display: block;
    width: 100%;
    font-size: 1.3em;
    border: none;
    color: #444b5f;
    border-bottom: 1.5px solid #242e4c;
    padding: 0.45em;
    margin-top: 0.45em;
    outline: none;
}
input:focus {
    border-color: #000968;
}
button#generate {
    display: block;
    width: 100%;
    font-size: 1.1em;
    color: #fff;
    margin: 2.7em 0 1.1em 0;
    background-color: #242e4c;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;

}
#result {
    text-align: center;
    font-size: 32px;
}   

.soon-content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.soon-content sp1 {
    font-size: 40px;
}
.soon-content sp2 {
    font-size: 32px;
}